@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #242B2E;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500    ;
}
.navul{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
}
.left{
    display: inline;
}
.left h1{
    display: inline-block;
    font-weight: 500;
}
.right{
    display: flex;
    flex-direction: row;
}
.item{
    font-weight: 550;
    list-style: none;
    padding: 10px 20px;
}

.item:hover{
    text-decoration: underline 3px;
    cursor: grab;
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.block-2{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.block-2 h1{
    text-align: left;
    margin-top: 150px;
    margin-bottom: 30px
}

.block-2 input{
    font-size: 18px;
    padding: 8px;
    border: 3px solid #a7a7a7;
    border-radius: 7px;
    margin: 10px;
    margin-left: 0%;
    width: 300px;
}

button{
    font-size: 18px;
    font-weight: 500;
    padding: 8px;
    background-color: #3944F7;
    color: #ffffff;
    border: 3px solid #393fb6;
    border-radius: 7px;
    width: 300px;
    margin: 10px;
    margin-left: 0%;
}   

button:hover{
    background-color: #393fb6;
}

.side{
    margin-top: 50px;
    margin-left: 20px;
}

.motiv{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.mh1{
    text-align: center;
}